<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Links-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <!--Tittle-->
        <title>Fuzzy-Ctrl</title>        
    </head>
    <body>

        <!--Content-->
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
            <center><h1> Wspomaganie decyzji z wykorzystaniem logiki rozmytej </h1></center>
          </div>

          <div class="main-page">
            <div class="col-lg-4" id="inputs">
              <center><h3> Wejscia </h3></center>
              <form>
                <div class="form-group">
                  <label for="service">Jakosc obslugi (0-10):</label>
                  <input type="number" class="form-control" id="service" min="0" max="10">
                </div>
                <div class="form-group">
                  <label for="food">Jakosc jedzenia (0-10):</label>
                  <input type="number" class="form-control" id="food" min="0" max="10">
                </div>
                <center><button type="button" class="btn btn-default" id="calc">Oblicz</button></center>
              </form>
            </div>
            <div class="col-lg-7 col-lg-offset-1" id="results">
              <h5 id="input-data"></h5>
                <h6 id="service-feed"></h6n>
                <h6 id="food-feed"></h6>
              <h5 id="tip"></h5>
              <center><h3> Wykresy </h3></center>
            </div>
          </div>

        <!--Scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>            
    </body>
</html>
